export PS1="\[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h-\A:\[\033[33;1m\]\w\[\033[m\]\$ "
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad
alias ls='ls -GFh'

export PATH="$PATH:~/bin"

export EDITOR=vim
# Alias
alias gs="git status"
alias gc="git commit"
alias v="vim"

alias ls='ls -lhF'
alias sl=ls

alias mv="mv -i"           # -i prompts before overwrite
alias mkdir="mkdir -p"     # -p make parent dirs as needed
alias df="df -h"           # -h prints human readable format
alias du='du -h'

alias remote_lab='ssh -N -f -L 1231:localhost:8888 lab'
# added by Miniconda3 4.7.12 installer
# >>> conda init >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$(CONDA_REPORT_ERRORS=false '/Users/haochunchang/opt/miniconda3/bin/conda' shell.bash hook 2> /dev/null)"
if [ $? -eq 0 ]; then
    \eval "$__conda_setup"
else
    if [ -f "/Users/haochunchang/opt/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/Users/haochunchang/opt/miniconda3/etc/profile.d/conda.sh"
        CONDA_CHANGEPS1=false conda activate base
    else
        \export PATH="/Users/haochunchang/opt/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda init <<<
